1> Customer information
2> Customer creates account
3> Customer enquiries 
4> bill on online timeline
5> Bill by email or post or house 
6> modes of Payment  
          Pay by phone
          Pay at counter(offline) 
	  pay online		
             debit card
	     credit card

7>Payment confirmations
       by  email
       by sms

7> Notifications 
	by SMS
	by manual
	by Online timeline
	by Email
8>automatic updation usage of electricity and time of use

9>Remaind last date of the billing date